<html>
<head>
        <title>Peoples</title>
</head>
<body>

        <h1>Edit Data</h1>
    <hr>
    <form action="/update/{{ people.id }}" method="post">
        {% csrf_token %}
        <p><label for="name">Name: <input type="text" name="name" id="name"
        value="{{ people.name }}" placeholder="{{ people.name }}" />
        </label></p>

        <p><label for="biography">Biography: <input type="text" name="biography"
        value="{{ people.biography }}" placeholder="{{ people.biography }}" />
        </label></p>

        <select name="group">
            <option value="" selected="{{ people.group.id }}">{{ people.group.name }}</option>
            {% for group in groups %}
                <option value="{{ group.id }}">{{ group.name }}</option>
            {% endfor %}
        </select>
        <input type="submit" Value="Update" />
        <input type="button" onclick="location.href='/';" value="Cancel" />
    </form>
</body>
</html>