<html>
<head>
    <title>Peoples</title>
</head>
<body>
    <div>
        <h1><a href="">Group List</a></h1>
    </div>

    <form action="/create" method="post">
        {% csrf_token %}
        <p><label for="name">Name: <input type="text" name="name" id="name" required/></label></p>
        <p><label for="information">Information: <input type="text" name="information" id="information" required/></label></p>
        <input type="submit" value="Create" required/>
    </form>

    <table border="1">
        <form action="/groups/{{ group_in_groups.id }}" method="get">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Information</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for group_in_groups in groups %}
                <tr>
                    <td>{{ group_in_groups.name }}</td>
                    <td>{{ groups.information }}</td>
                    <td><a href="/edit/{{ people_in_group_1.id }}">Edit</a>
                    <a href="/delete/{{ people_in_group_1.id }}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </form>
    </table>
</body>
</html>