<html>
<head>
    <title>Peoples</title>
</head>
<body>
    <table border="1">
        <div>
            <h1><a href="">Group_1</a></h1>
        </div>
        <form action="/group/{{ people.group.id }}" method="get">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Created at</th>
                </tr>
            </thead>
        <tbody>
            {% for people_in_group_1 in group_1 %}
                <tr>
                    <td>{{ people_in_group_1.name }}</td>
                    <td>{{ people_in_group_1.created_at }}</td>
                </tr>
            {% endfor %}
        </tbody>
        </form>
    </table>
</body>