<html>
<head>
        <title>Peoples</title>
</head>
<body>
    <div>
        <h1><a href="">Edit Group</a></h1>
    </div>
    <form action="/group_update/{{ group.id }}" method="post">
        {% csrf_token %}
        <p><label for="name">Name: <input type="text" name="name" id="name"
        value="{{ group.name }}" placeholder="{{ group.name }}" />
        </label></p>

        <p><label for="information">Information: <input type="text" name="information"
        value="{{ group.information }}" placeholder="{{ group.information }}" />
        </label></p>

        <input type="submit" Value="Update" />
    </form>
</body>
</html>