<html>
<head>
    <title>People</title>
</head>
<body>
    <div>
        <h1><a href="">Peoples Data</a></h1>
    </div>
    <form action="/create" method="post">
        {% csrf_token %}
        <p><label for="name">Name: <input type="text" name="name" id="name" required/></label></p>
        <p><label for="biography">Biography: <input type="text" name="biography" id="biography" required/></label></p>
        <select name="group" required>
            <option value="" disabled="disabled" selected="selected">Please select a group</option>
            {% for group in groups %}
                <option value="{{ group.id }}">{{ group.name }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Create" required/>
    </form>

    <form action="/group_list" method="get">
        {% csrf_token %}
    <p><input type="submit" value="Group List"></p>
    </form>

        <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Biography</th>
                <th>Created at</th>
                <th>Updated at</th>
                <th>Group</th>
                <th>Actions</th>
            </tr>
        </thead>
            <tbody>
                {% for people in peoples %}
                <tr>
                    <td>{{ people.name }}</td>
                    <td>{{ people.biography }}</td>
                    <td>{{ people.created_at }}</td>
                    <td>{{ people.updated_at }}</td>
                    <td><a href="/group/{{ people.group.id }}">{{ people.group.id }}</a></td>
                    <td><a href="/edit/{{ people.id }}">Edit</a>
                    <a href="/delete/{{ people.id }}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
</body>
</html>